/* SECTION */
.courses {
  padding: 80px 10%;
  background: #f8f9fc;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 10px;
  color: #243b55;
}

.section-subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 50px;
}

/* GRID */
.course-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

/* CARD */
.course-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  text-align: left;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.course-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.course-content {
  padding: 20px;
}

.course-content h3 {
  margin-bottom: 10px;
  color: #243b55;
}

.course-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.course-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: bold;
}

.price {
  color: #00bcd4;
}

.course-card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background: #00f2ff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.course-card button:hover {
  background: #243b55;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .courses {
    padding: 60px 20px;
  }

  .section-title {
    font-size: 26px;
  }
}